<html>
  <head>
    <title>Gothons of Palent Percal #25</title>
  </head>

  <body>
    <p>
    I just want to say <em style="color: green; font-size: 2em;"><%= greeting %></em>
    </p>
  </body>
</html>
